@charset "utf-8";
/* CSS Document */


@media only screen and (min-width: 768px) and (max-width: 991px) 
{
    .border{font-size:13px;}
    .downmenu li a{font-size:13px;}
}
@media only screen and (min-width: 641px) and (max-width: 767px) 
{
    .sub_menu li a{color:#666666;}
    .downmenu li a {color: #555555 !important;font-size: 18px;padding: 10px 15px !important;width: 50%;float: left;text-align: center;}
    .downmenu {padding:10px 0;background: url("../images/downmenu-bg.png")repeat scroll 0 0 rgba(0, 0, 0, 0);}
}
@media only screen and (min-width: 290px) and (max-width: 640px) {
    .logo{left: 20px;position: absolute;top: 20px;width: 80px;z-index: 2;}
    .header{height:50px;}
    .downmenu {padding:10px 0;background: url("../images/downmenu-bg.png")repeat scroll 0 0 rgba(0, 0, 0, 0);}
    .downmenu li a{padding:10px 20px !important; }
    legend {border: medium none;margin-left: 0px;text-align: center;width: 100% !important;}
    #lista1{margin:0px;}
    #lista1 .als-item{margin:0 38px;}
}
